/* Reset margin và padding cho html, body */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Đảm bảo các phần tử con kế thừa box-sizing */
*, *::before, *::after {
  box-sizing: inherit;
}
